:root {
  --d-max-width: 1024px;
  --d-sidebar-section-link-icon-size: 1.25rem !important;
  --d-button-border-radius: 8px !important;
  --d-border-radius: 8px !important;
  --d-input-border-radius: 8px !important;
  --tag-color-warning: #ffff00;
  --tag-color-danger: #ff0000;
  --tag-color-success: #00ff00;
  --tag-color-milestone: #ff5dcc;
}

tbody {
  border: none;
}
